@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300&display=swap')
@import './variables'
  
body 
  background-color: rgb(41, 41, 41)
  font-family: 'Red Hat Display', sans-serif
  // font-family: 'Roboto', sans-serif

.App 
  text-align: center
  color: white

.o2-row 
  
  .right
    border-left: $border
    border-bottom: $border
  .left
    border-right: $border
    border-bottom: $border

@media #{$md}
  .o2-row 
    .right
      border-left: none
    .left
      border-right: none

.photo-button-wide
  position: absolute
  right: 30px
  bottom: 30px
  text-align: left
  line-height: 1
  font-size: 12px
  a
    text-decoration: none
    color: white
    transition: 0.5s
  .line
    width: 100px
    height: 1px
    background-color: white
    margin-right: 15px
    transition: 0.5s
  span
    margin-right: 30px
    transition: 0.5s

.photo-button
  position: absolute
  right: 30px
  bottom: 30px
  text-align: left
  line-height: 1
  font-size: 12px
  a
    text-decoration: none
    color: white
    transition: 0.5s
  .line
    width: 100px
    height: 1px
    background-color: white
    margin-right: 15px
    transition: 0.5s
  span
    margin-right: 30px
    transition: 0.5s

.image-container:hover a span
  color: yellow
  transition: 0.5s
  margin-right: 10px

.image-container:hover .line
  background-color: yellow
  transition: 0.5s

.image-container:hover
  opacity: 0.9

.image-title-wide
  position: absolute
  left: 30px
  bottom: 30px
  text-align: left
  line-height: 1
  font-size: 40px
  color: white
  transition: 0.5s

.image-title
  position: absolute
  left: 30px
  bottom: 70px
  text-align: left
  line-height: 1
  font-size: 40px
  color: white

.image-squer
  width: 100%
  height: auto
  max-height: 400px
  object-fit: cover

@media #{$md}
  .image-title-wide
    bottom: 70px
    transition: 0.5s

.o2-title
  font-size: 40px
  font-weight: light
  line-height: 1
  width: 100%
  margin: 50px 0
  color: black

.carousel-indicators
  bottom: 70px
  margin: 0 0 0 80px
  transition: 0.5s

.carousel-indicators button
    height: 6px !important
    width: 6px !important
    margin: 0 30px !important
    border-radius: 100%
    border-color: white
    background-color: transparent !important
    border: 1px solid white !important

.carousel-indicators
  .active
    background: url('assets/znak_keune.svg')
    border: none !important
    height: 20px !important
    width: 20px !important

.carousel-indicators
  .active.white
    background: url('assets/znak_keune_WHITE.svg')

.underline
  border-bottom: 1px solid white
  bottom: 55px
  z-index: 1000
  position: absolute
  width: 150px
  left: calc(50% - 75px)
  opacity: 0.6
  margin-left: 40px
  transition: 0.5s

.controls
  bottom: 90px
  left: calc(50% - 8px)
  transition: 0.5s
  button
    background: 0 0
    border: none
    margin-left: 40px

.slider-text
  bottom: 40%
  left: 100px
  text-align: left
  line-height: 1
  transition: 0.5s
  span
    font-size: 50px
    transition: 0.5s
  .slider-span
    font-size: 30px

.slider-arrow
  bottom: 20%
  left: 100px
  opacity: 0.6
  transition: 0.5s
  cursor: pointer
  color: inherit
  z-index: 2
  .arrow-underline
    z-index: 1000
    height: 1px
    background-color: white
    width: 150px
    transition: 0.5s
  .arrow-circle
    margin-left: 20px
    height: 50px
    width: 50px
    border: 1px solid white
    border-radius: 50%
    transition: 0.5s
  .arrow-hevron
    margin-top: calc(50% - 6px)

.slider-arrow:hover
  color: yellow
  .arrow-underline
    background-color: yellow
    transition: 0.5s
    margin-left: 10px
  .arrow-circle
    border-color: yellow
  .arrow-hevron
    color: yellow

@media #{$lg}
  .slider-text
    left: 40px
    bottom: 30%
    transition: 0.5s
  .slider-arrow
    left: 40px
    transition: 0.5s
    bottom: 15%

@media #{$md}
  .slider-text
    left: 10px
    transition: 0.5s
    span
      font-size: 30px
      transition: 0.5s
    .slider-span
      font-size: 20px
  .slider-arrow
    left: 10px
    transition: 0.5s
    bottom: 10%


@media #{$sm}
  .slider-text
    left: 10px
    span
      font-size: 20px
      transition: 0.5s
    .slider-span
      font-size: 16px
  .controls
    bottom: 50px
    transition: 0.5s
  .underline
    bottom: 15px
    transition: 0.5s
  .carousel-indicators
    bottom: 30px
    transition: 0.5s
  .slider-arrow
    .arrow-circle
      margin-left: 10px
      height: 30px
      width: 30px
    .arrow-underline
      width: 40px
      transition: 0.5s
    .arrow-hevron
      margin-top: 3px